<div class="nested_fields_question">
<%= f.input :content, :label => false, :input_html => { placeholder: "Add new question..." } %>
<%= link_to_remove_association "remove question", f %>

  <%= f.simple_fields_for :answers do |answer| %>
  <%= render 'answer_fields', :f => answer %>
  <% end %>
  <div class="links">
    <%= link_to_add_association 'add answer', f, :answers, :render_options => {:wrapper => 'bootstrap' } %>
  </div>
</div>
