<% @questions.reverse.each do |question| %>
  <div id="<%= question.id %>">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= question.content %></h3>
      </div>
        <%= simple_form_for @user_answer, :remote => true do |f| %>
          <div class="panel-body">
            <ul style="list-style-type: none">
              <li><%= f.input :answer_id, :collection => question.answers.map { |e| [e.content, e.id]}, :as => :radio_buttons, :label => false %></li>
            </ul>
          <%= f.submit 'Submit', :class => "question_submit" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<button>
  <%= link_to "See your Results", user_path(@current_user) %>
</button>
<br>
<br>
<br>
<br>
<br>
<br>