<div id="question-block">
  <% @questions.reverse.each do |question| %>
    <div class="question-inner-container">
      <div id="<%= question.id %>", class="question-content">
        <%= simple_form_for @user_answer, :remote => true do |f| %>
          <ol>
            <li><h3><%= question.content %></h3></li>
            <ul>
              <li><%= f.input :answer_id, :collection => question.answers.map { |e| [e.content, e.id]}, :as => :radio_buttons %></li>
            </ul>
          </ol>
          <%= f.submit 'Submit', :class => "question_submit" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


