= form_tag '/login' do
  = label_tag 'email', nil, :autofocus => true
  %br/
  = text_field_tag 'email'
  %br/
  %br/
  = label_tag 'password'
  %br/
  = password_field_tag 'password'
  %br/
  %br/
  = submit_tag 'Login', :class => 'button radius'
