<div class="col-md-7">
  <h1> Profile </h1>
  <% @current_user.quizzes.each do |quiz| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= quiz.name %></h3>
      </div>
      <div class="panel-body">
        <div class="col-md-9">
          <h4>Questions</h4>
        </div>
        <div class="col-md-3">
          <div class="well well-sml">
          <ul class="list-unstyled">
            <li>6 out of 10</li>
            <li>60%</li>
          </ul>
        </div>
        </div>
        <div class="col-md-9">
          <p><%= quiz.description %></p>
          <% quiz.questions.each_with_index do |question, idx| %>
            <p><span class="label label-warning"><%= idx + 1 %></span> <%= question.content %> </p>
            <span class="<%="glyphicon glyphicon-ok" if @current_user.user_answers.where(:question_id => question.id).count != 0  %>"></%></span>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
</div>