<script>
  var pins = [];
  var markers = [];
</script>

<div id="map">
  <div id="map_canvas"></div>
</div>

<h3> Latest Quizzes </h3>

<% @quizzes.each do |quiz| %>
  <ul>
    <li><%= quiz.name %></li>
    <li><%= quiz.questions.count %> questions</li>
    <%= form_tag '/user_quizzes' do %>
    <%= hidden_field_tag "quiz_id", quiz.id %>
    <%= hidden_field_tag "quiz_slug", quiz.slug %>
    <%= submit_tag %>
    <% end %>
  </ul>
<% end %>

<% @users.each do |user| %>
  <script>
    $(document).ready(function() {
      add_marker(<%= user.lat %>, <%= user.long %>);
    });
  </script>
<% end %>

<%= render 'chart/index' %>

<!--
WRITE SCRIPT TO GET PINS AND PUSH THEM WITH MARKERs
CONVERT SHIT INTO COFFEESCRIPT -->

