<h1> Welcome to Quizr </h1>

<h3> Latest Quizzes </h3>

<% @quizzes.each do |quiz| %>
  <ul>
    <li><%= quiz.name %></li>
    <li><%= quiz.questions.count %> questions</li>
    <%= form_tag '/user_quizzes' do %>
    <%= hidden_field_tag "quiz_id", quiz.id %>
    <%= hidden_field_tag "quiz_slug", quiz.slug %>
    <%= submit_tag %>
    <% end %>
  </ul>
<% end %>

<h3> Users </h3>
<% @users.each do |user| %>
  <ul>
    <li><%= link_to user.name, user %></li>
  </ul>
  <% end %>

<div id="graph_box">
  <h3>Quiz Graph</h3>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary" id="graph_a">
      <input type="radio" name="options" id="option1"> Latitudes
    </label>
    <label class="btn btn-primary" id="graph_b">
      <input type="radio" name="options" id="option2"> Quiz Name vs ID
    </label>
  </div>
  <div id="chart"></div>
</div>
