<h1> Welcome to Quizr </h1>

<h3> Latest Quizzes </h3>

<% @quizzes.each do |quiz| %>
  <ul>
    <li><%= quiz.name %></li>
    <li><%= quiz.questions.count %> questions</li>
    <%= form_tag '/user_quizzes' do %>
    <%= hidden_field_tag "quiz_id", quiz.id %>
    <%= hidden_field_tag "quiz_slug", quiz.slug %>
    <%= submit_tag %>
    <% end %>
  </ul>
<% end %>

<h3> Users </h3>
<% @users.each do |user| %>
  <ul>
    <li><%= link_to user.name, user %></li>
  </ul>
  <% end %>
